
@font-face{
    font-family: "my choses";
    src: url('/fonts/BrunoAce-Regular.ttf') format("truetype");
}
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "my choses",sans-serif; 
}
body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #aaa; 
    min-height: 100vh; 
}
.clock_body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 50rem; 
    height: 20rem; 
    background: #aaa; 
    border-radius: 2rem;
    border: 2px solid #000; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4),
               -5px -5px 20px rgba(0, 0, 0, 0.4);
}
.click_dis{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    width: 90%; 
    height: 10rem; 
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.365);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(10px);
    border: 2px solid #888;
    color: #666; 
    font-size: 4rem; 
    font-weight: 1000; 
}
.set{
    display: grid; 
    place-items: center; 
    position: absolute;
    top: 9.9rem; 
    right: 11rem; 
    border-radius: 0.8rem;
    color: crimson; 
    font-size: 1.5rem; 
    font-weight: 800; 
}
.date{
    position: absolute;
    top: 11rem; 
    right: 3.8rem; 
    color: green; 
    font-size: 2.7rem; 
    font-weight: 800; 
}
.daMoYe{
    position: absolute;
    bottom: 1.3rem;
    color: green;
    font-size: 2rem;
    font-weight: 900; 
    letter-spacing: .3rem; 
}